.main{
	margin-left: -10px;
	background-color: hsla(0, 0%, 75%, 0.37);
	margin-right: -10px;
}
.fon_p{
width:800px;
height: 600px;

position:relative;
left:405px;
top:110px;


}
.avadagker{
	background-image:url(images.png);
width: 200px;
	height: 133px;
	position:relative;
	top:140px;	
}
.avatccc{
	background-image:url(images.png);
	width: 200px;
	height: 133px;
	position:relative;
	top:140px;
	
}
.avachel3{
	background-image:url(images.png);
	width: 200px;
	height: 133px;
	position:relative;
	top:140px;
	
}
.avachel4{
	background-image:url(images.png);
	width: 200px;
	height: 133px;
	position:relative;
	top:140px;
	
}
.avachel5{
	background-image:url(images.png);
	width: 200px;
	height: 133px;
	position:relative;
	top:140px;
	
}

.single-slide{
top:130px;
position:relative;
width:800px;
height:350px;
bottom:475px;



}
.pos1{
	position: relative;
	bottom:50px;
    font-family:Century Gothic;
	font-size:11px;
	color:black;}
.pos2{
	position: relative;
	bottom:50px;
    font-family:Century Gothic;
	font-size:11px;
	color:black;}
.pos3{
	position: relative;
	bottom:50px;
    font-family:Century Gothic;
	font-size:11px;
	color:black;

}
.pos4{
	position: relative;
	bottom:50px;
    font-family:Century Gothic;
	font-size:11px;
	color:black;}
	.pos5{
	position: relative;
	bottom:50px;
    font-family:Century Gothic;
	font-size:11px;
	color:black;}
.p1{
	position: relative;
	top:100px;
	font-family:Century Gothic;
	font-size:32px;
	color:black;
}
.p2{
	position: relative;
	top:100px;
	font-family:Century Gothic;
	font-size:32px;
	color:black;
}
.p3{
	position: relative;
	top:100px;
	font-family:Century Gothic;
	font-size:32px;
	color:black;
}
.p4{
	position: relative;
	top:100px;
	font-family:Century Gothic;
	font-size:32px;
	color:black;
}
.p5{
	position: relative;
	top:100px;
	font-family:Century Gothic;
	font-size:32px;
	color:black;
}
.h5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  line-height: 175px;
  font-size:32px;
  height:350px;
  
}
.h4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  line-height: 175px;
  font-size:32px;
  height:350px;
  
}
.h3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  line-height: 175px;
  font-size:32px;
  height:350px;
  
}
.h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  line-height: 175px;
  font-size:32px;
  height:350px;
  
}
.h1{
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	
  line-height: 175px;
  font-size:32px;
  height:350px;
  
}
.slick-prev:before,.slick-next:before{
	background-color: black;
	color:white;
	}

	
	
	


.game-fortnite{
	font-family:Century Gothic;
	line-height : 80px;
	border:0.5px solid hsl(0,0%,70%);
	border-left:none;
	border-top :none;
	text-align:center;
width:300px;
background-color:rgba(255,255,255,0);
color: hsl(0,0%,75%);

}
.game-dota{
	font-family:Century Gothic;
	line-height : 80px;
	border:0.5px solid hsl(0,0%,70%);
	border-top :none;
	text-align:center;
width:300px;
background-color:rgba(255,255,255,0);
color: hsl(0,0%,35%);
border-bottom: 4px solid red;

}
.game-fortnite:hover{
cursor:pointer;	
color: hsl(0,0%,35%);

}
.game-dota:hover{
	cursor:pointer;	
color: hsl(0,0%,35%);
}
.games{
	font-weight: 600;
	font-size:16px;
	margin-left:-10px;
	height:80px;
	width:1630px;
	background-color:rgba(255,255,255,0);
	border:0.5px solid hsl(0,0%,70%);
	
display:flex;
flex-direction: row;
justify-content:center;



}
p3{
	color:red;
	font-size:72px;
}
.fon_d2{
	width:1631px;
	height: :500px;
	margin-left:-10px;
	background-color: hsl(0,0%,10%);
}
.team-game{
    left:365px;
	color:white;
	position:relative;
	width:889px;
	margin-left:-10px;
	line-height : 475px;
height:500px;
text-align: center;
background-image:url(dota2.jpg);
font-size:68px;
 font-weight: 300;
 font-family: tahoma;



}

.team-block{
display:flex;
flex-direction: column;
justify-content:center;
}
a{
	text-decoration: none;
}
.title {
	 background-color:hsl(0,0%,10%);
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width:400px;
    letter-spacing: 1px;
    cursor:pointer;
    position: relative;
    
}

h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 50px;
    line-height: .75;
    margin: 10px 0;
}
p{
	font-family:Century Gothic;
	font-size:17px;
	color:white;
}
div.block_1{
	z-index: 1;
height:200px;
background-color:hsl(0,0%,10%);
margin-top:-10px;
margin-left:-10px;
margin-right:-15px;
width:1631px;
}
div.menu{
	z-index: 3;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	position:relative;
background-color:hsl(0,0%,12%);
height:60px;
bottom:200px;
left:395px;
font-weight:300;
width:1235px;
}
div.news{
	position:relative;
	left:50px;
	line-height : 28px;
	color:#ffffff;
	height:60px;
	text-align: center;
width:150px;
background-color:hsl(0,0%,12%);

}
div.vid{
	position:relative;
	left:50px;
	line-height : 28px;
	color:#ffffff;
	height:60px;
	text-align: center;
width:150px;
background-color:hsl(0,0%,12%);

}
div.team{
	position:relative;
	left:50px;
	line-height : 28px;
	color:#ffffff;
	height:60px;
	text-align: center;
width:150px;
background-color:hsl(0,0%,12%);

}
div.cont{
	position:relative;
	left:50px;
	line-height : 28px;
	color:#ffffff;
	height:60px;
	text-align: center;
width:150px;
background-color:hsl(0,0%,12%);

}
div.news:hover{
	cursor:pointer;
	line-height : 28px;
	color:red;
	height:60px;
	text-align: center;
width:150px;
background-color:hsl(0,0%,12%);
border-bottom:2px solid red;

}
div.vid:hover{
	cursor:pointer;
	line-height : 28px;
	color:red;
	height:60px;
	text-align: center;
width:150px;
background-color:hsl(0,0%,12%);
border-bottom:2px solid red;

}
div.team:hover{
	cursor:pointer;
	line-height : 28px;
	color:red;
	height:60px;
	text-align: center;
width:150px;
background-color:hsl(0,0%,12%);
border-bottom:2px solid red;

}
div.cont:hover{
	cursor:pointer;
	line-height : 28px;
	color:red;
	height:60px;
	text-align: center;
width:150px;
background-color:hsl(0,0%,12%);
border-bottom:2px solid red;

}
.vk{
	position:relative;
	left:90px;
	cursor:pointer;
	top:3px;
	z-index: 10;

}
.discord{
position:relative;
	left:100px;	
	cursor:pointer;
	top:3px;
	z-index: 10;

}
.vk1{
position:relative;
	left:38px;
	cursor:pointer;
	top:3px;
	z-index: 1;

}
.discord1{
position:relative;
	left:48px;	
	cursor:pointer;
	top:3px;
	z-index: 1;

}
.vk:hover{
	position:relative;
	left:90px;
	cursor:pointer;
	top:3px;
	z-index: 1;

}
.discord:hover{
position:relative;
	left:100px;	
	cursor:pointer;
	top:3px;
	z-index: 1;

}
.vk1:hover{
position:relative;
	left:38px;
	cursor:pointer;
	top:3px;
	z-index: 10;

}
.discord1:hover{
position:relative;
	left:48px;	
	cursor:pointer;
	top:3px;
	z-index: 10;

}
.vhod_menu{
	position:relative;
	left:1400px;
	bottom:200px;
	background-color:hsl(0,0%,10%);
	width:200px; 
	height: 140px;
	display:flex;
	flex-direction: column;
	
	justify-content:flex-start;
}
.vhod{
	z-index: 3;
	align-items:center;
	flex-direction:row;
	justify-content:space-around;
	left:1430px;
	
	display:flex;
	background-color: hsl(0,0%,12%);

	height:40px;
	width:200px;
	color:white;
	font-size:10px;
	font-family:Century Gothic;
	
}
p1{
	font-size:12px;
	color:red;
	font-family:Century Gothic;
}
.lang:hover{
	cursor:pointer;
	color:red;
	
}
.vouti:hover{
	cursor: pointer;
	color:red;

}


.lang_menu{
	
	height:100px;
	width:100px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	color:(0,0%,10%);
	font-size: 10px;
	align-items:center;
}



.english{
	font-family:Century Gothic;
	height:20px;
	cursor:pointer;
}
.russian{
	height:10px;
font-family:Century Gothic;
cursor:pointer;
}
.english:hover{
	font-family:Century Gothic;
	height:20px;
	cursor:pointer;
	color:red;
}
.russian:hover{
	height:10px;
font-family:Century Gothic;
cursor:pointer;
color:red;
}


.podval{
    position: relative;
    top:1100px;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 1631px;
	height: 250px;
	margin-left: -10px;
	background-color: hsl(0,0%,10%);
}
.demon_logo{
	position: relative;
	right:150px;
}
.wth_prava{
	right:100px;
	position:relative;
	bottom:30px;
font-family:Century Gothic;
	color:hsl(0,0%,60%);;
}
  
	